.action-btn {
	text-align: center;
}

.action-btn ul {
	padding: 0;
	margin: 0;
}

.action-btn ul li{
	list-style: none;
	display: inline;
	margin: 0 3px;
}

.action-btn ul li .edit{
        color: green;
}

.action-btn ul li .trash{
        color: red;
}

